CMakeCache.txt
CMakeFiles/
Makefile
build-stamp
cmake_install.cmake
config
configure-stamp
debian/files
debian/*.install
debian/*.debhelper
debian/*.log
debian/*.substvars
debian/libss-client-0/
debian/libss-client-dev/
debian/ss-server-dbg/
debian/ss-server/
debian/tmp/
install_manifest.txt
libss-client.so*
secure-storage.pc
ss-server
